<ul class="breadcrumb">
	<li><a href="#">Accueil</a> <span class="divider">/</span></li>
    {% for path in activePathBreadcrumb() %}
        {% if not path.last %}
        	<li><a href="#">{{ path.label }}</a> <span class="divider">/</span></li>
        {% else %}
        	<li class="active">{{ path.label }}</li>
        {% endif %}

    {% endfor %}
</ul>