{% for key, message in app.session.getFlashes() %}
    <div class="alert alert-block alert-{{ key }}">
        <a class="close" data-dismiss="alert" href="#"><i class="icon-large icon-remove-circle"></i></a>
        <h4>{{ message |raw }}</h4>
    </div>
{% endfor %}
