{% for menu, content in childsBreadcrumb() %}
    <div class="menusb well">
        <div class="navbar navbar-heading">
        	<div class="navbar-inner">
        		<a class="brand" href="#"> {{ menu }} </a>
    		</div>
        </div>
        <ul class="nav nav-tabs nav-stacked">
        {% for route, data in content %}
            {% if data.hidden is not defined or data.hidden != true %}
            <li {% if data.active %}class="active"{% endif %}><a href="{{ path(route) }}"><i class="icon-large icon-caret-right"></i> {{ data.label }}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endfor %}
