<ul class="nav pull-right">
	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		    <span class="badge badge-important">!</span>
		    <i class="icon-xlarge icon-user"></i>
		    <b class="caret"></b>
	    </a>
        <ul class="dropdown-menu dropdown-user-account">
        	<li class="account-img-container">
        		<img class="thumb account-img" src="{{ asset('bundles/bfmainapplication/images/user.png') }}" />
        	</li>
        	<li class="account-info">
        		<h3>Bob</h3>
        		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        		<p><a href="#">Edit</a> | <a href="#">Privacy Settings</a></p>
        	</li>
        	<li class="account-footer">
        		<div class="row-fluid">
        			<div class="span8">
        				<a class="btn btn-primary btn-small" href="#">Changer avatar</a> <a class="btn btn-primary btn-small" href="#">Afficher profil</a>
        			</div>
        			<div class="span4 align-right">
        				<a class="btn btn-danger btn-small" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
        			</div>
        		</div>
        	</li>
        </ul>
	</li>
</ul>
