<ul class="nav pull-left">
	<li><a href="/factory_dev.php"><i class="icon-xlarge icon-cog"></i></a></li>
	<li class="divider-vertical"></li>
	<li><a href="#"><i class="icon-xlarge icon-wrench"></i></a></li>
	<li class="divider-vertical"></li>
	<li><a href="#"><i class="icon-xlarge icon-globe"></i></a></li>
</ul>

<form id="formSearch" class="navbar-search pull-left" action="#">
	<div class="input-prepend input-append">
		<span class="add-on"><i class="icon-large icon-search"></i></span>
		<input id="appendedPrependedSearch" class="span3" size="16" type="text">
		<div class="add-on add-on-custom add-on-primary">
			<div class="btn-group btn-group-prep">
				<button class="btn btn-inverse">Rechercher</button>
				<button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#"><i class="icon-glass"></i> Bons coins</a></li>
					<li><a href="#"><i class="icon-calendar"></i> Invitations</a></li>
					<li><a href="#"><i class="icon-group"></i> Contacts</a></li>
				</ul>
			</div>
		</div>
	</div>
</form>