<!-- ** widget ** -->
<div class="well">
	<!-- ** widget header ** -->
	<div class="navbar navbar-heading">
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<a id="mapTitle" class="brand" href="#">{% block title %}{% endblock  %}<span></span></a>
			</div>
		</div>
	</div>
	<!-- ** ./ widget header ** -->

	<div>
	    {% block widget_content %}{% endblock  %}

        {% if code is defined %}
            <h2>Code behind this page</h2>
            <div class="block">
                <div class="symfony-content">{{ code|raw }}</div>
            </div>
        {% endif %}
	</div>

</div>
<!-- ** ./ widget ** -->