{% extends 'BFDemoBundle::layout.withtab.html.twig' %}

{% block title "Message" %}

{% block content %}
<p>Message affiché</p>
<a href="{{ path('bf_demo_make_message') }}">Reload</a>
{% endblock %}

{% block code %}
    {% for name, code in code(code_data) %}
    <div>
        <fieldset>
        <legend>{{ name }}</legend>
        {{ code | raw }}
        </fieldset>
    </div>
    {% endfor %}
{% endblock code %}