{% extends 'BFDemoBundle::layout.withtab.html.twig' %}

{% block title "Symfony - Contact form" %}

{% block content %}
    {{ 'ouinon.oui' | value_list('ouinon') }}
{% endblock %}

{% block code %}
    {% for name, code in code(code_data) %}
    <div>
        <fieldset>
        <legend>{{ name }}</legend>
        {{ code | raw }}
        </fieldset>
    </div>
    {% endfor %}
{% endblock code %}