{% extends 'BFSharedBundle:Bootstrap:layout.html.twig' %}

{% block base_content %}
<div>
    <ul class="nav nav-tabs tabs-two">
        <li class="active"><a href="#tab_view" data-toggle="tab">View</a></li>
        <li><a href="#tab_source" data-toggle="tab">Code source</a></li>
    </ul>
    <div class="tab-content">
            <div class="tab-pane active" id="tab_view">{% block content %}{% endblock  %}</div>
        <div class="tab-pane" id="tab_source">
            <div class="block">
                <div class="symfony-content">{% block code %}{% endblock  %}</div>
            </div>
        </div>
    </div>
</div>
{% endblock base_content %}
