<ul class="nav">
	<li><a href="#"><i class="icon-xlarge icon-globe"></i></a></li>
	<li class="divider-vertical"></li>
	<li>{% include 'BFSharedBundle:Bootstrap/_partial:top-bar.search.html.twig' %}</li>
</ul>
