<!-- ** widget ** -->
<div class="well">
	<!-- ** widget header ** -->
	<div class="navbar navbar-heading">
		<div class="navbar-inner">
			<div class="container" style="width: auto;">
				<a id="mapTitle" class="brand" href="#">{% block title %}{% endblock  %}<span></span></a>
			</div>
		</div>
	</div>
	<!-- ** ./ widget header ** -->
	
	<div>
	    {% block content %}{% endblock  %}
	</div>

</div>
<!-- ** ./ widget ** -->